CacheControl
Jinja2
MarkupSafe
Pillow
PyYAML
Pygments
QtPy
Send2Trash
appdirs
argon2-cffi
async-generator
attrs
backcall
certifi
cffi
chardet
click
colorama
contextlib2
cycler
datasets
decorator
defusedxml
dill
distlib
distro
entrypoints
filelock
ftfy
future
html5lib
huggingface-hub
idna
ipaddr
ipykernel
ipython
ipython-genutils
ipywidgets
janome
jedi
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
langdetect
lockfile
lxml
matplotlib
mistune
msgpack
mtcnn
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pep517
pexpect
pickleshare
progress
prometheus-client
prompt-toolkit
ptyprocess
pyaml
pyarrow
pycparser
pyparsing
pyrsistent
pytesseract
python-dateutil
pytoml
pytz
pyzmq
qtconsole==5.1.1
requests
retrying
sacremoses
sentencepiece
six
tabulate
terminado
testpath
tokenizers
torch
torchvision
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
wget
widgetsnbextension
xxhash